header{
    background-color: #BBBBBB;
    padding: 20px; /* espacio externo */
}

.caja{
    /* nomrla la cantidad de px en pantalla 900px= 70%*/
    width: 940px;
    position: relative;/* nomrla la cantidad de px en pantalla */
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 110px;
}

nav li{
    /* INLINE = no quiero que ocupe el 100% solo lo necesario */
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;  /* negrita */
    font-size: 22px;
    text-decoration: none;  /* retirar subrayado por defecto para vinculos */
}

.productos{
    width: 940px;   /*ocupe el 980 px del total pagina*/
    margin: 0 auto;
    padding: 50px;

}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%; /*arriba y abajo 0 y der/izq 1.5%*/
    padding: 30px 20px;
    box-sizing: border-box;/*borde de cada item el limite definido*/
    
    /* border: 2px solid #000000;   border simplificado*/
    border: #000000;
    border-width: 2px;
    border-style:solid;
    border-radius:20px;
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 18px;
    padding: 10px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;

}