body{                           /* aplica a todo el fondo de la pag */
   
}

.titulo-principal{
    padding-left: 30px;
}

#banner{
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{                              /* selector */
    text-align: center;
}

em strong{                      /* referenciando estilo a em y strong */
    color: red;
}

#mision{                        /* selector de ID - # */
    font-size: 20px;
}

.diferenciales{
    background: white;
    padding: 30px;
}

.items{                         /*referenciar una CLASE - . */
    font-style: italic;
}

ul{
    display: inline-block;      /* ocupa solo el espacio de contenido, y el sobrante se ajuste 
    block en las lista e inline para imagenes*/
    vertical-align: top;
    width: 20%;
}

.imagenDiferencial{
    width: 50%;
}